
body{
    font-family: 'Manrope', sans-serif;
    background: black url(../assets/blur-2.png) no-repeat;
    background-size: 700px 550px;
    background-position: top right;

}
.blur__body__right{
    display: flex;
    justify-content: flex-end;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
   
    
}


.logo__nav{
    width: auto;
    margin-left: 80px;
    cursor: pointer;
}
.nav__desktop:hover{
    border-bottom: 1px solid #8257E5;
} 
.ative{
    border-bottom: 1px solid #8257E5;
}
.nav__desktop{
    text-decoration: none;
    padding: 1.5rem;
    color: #ffffff;
    float:initial;
    
}
.button__nav:hover{
    background-color: #8257E5;
    color: #ffffff;
    transition: 0.5s;
    }

.button__nav{
    text-decoration: none;
    background: none;
    color: #ffffff;
    border: 1px solid #8257E5;
    width: 180px;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 700;
    margin-left: 100px;
    cursor: pointer;

}

.tittle__main{
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    font-size: 80px;
    padding:5rem 3rem 1rem 3rem;
}



.tittle__main__second {
    font-family: 'Arial';
    font-weight: 700;
    color: black;
    text-align: center;
    font-size: 90px;
    margin-bottom: 50px; 
    -webkit-text-stroke-color: #8257E5;
    -webkit-text-stroke-width: 2px;
     
}
.section_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/blur-1.png) no-repeat bottom left;
    background-size: 700px 800px;
    background-position: left;
}

.img__principal{
    width: 70%;
    height: 80%;
}
 



